# ===============================
# Python
# ===============================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment variables
.env

# ===============================
# PlatformIO / ESP32
# ===============================
.pio/
.vscode/
lib_deps/
.pioenvs/

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Temporary files
# ===============================
*.tmp
*.swp
*.bak

# ===============================
# Secrets
# ===============================
secrets.h
.cache
